.reviews-header {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

.reviews-container {
	margin: 20px 15px 5px 15px;
}

.reviews-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.star-icon {
	height: 15px;
	width: 15px;
	object-fit: cover;
}

.stars-container {
	display: flex;
	flex-direction: row;
	margin: 25px;
	text-align: left;
}
