.reviews-header {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

.reviews-container {
	margin: 20px 15px 5px 15px;
}

.reviews-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.star-icon {
	height: 15px;
	width: 15px;
	object-fit: cover;
}

.stars-container {
	display: flex;
	flex-direction: row;
	text-align: left;
}

.reviews-body-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.reviews-body-header-average {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	padding: 5px 10px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.reviews-details {
	text-align: left;
	margin-bottom: 10px;
}

.reviews-date {
	text-align: left;
	margin-bottom: 10px;
}

.average-reviews {
	display: flex;
	align-items: center;
}
.average-rating {
	margin-left: 10px;
	font-size: 16px;
}

.reviews-line-break {
	color: white;
	border-bottom: 1px solid gray;
	justify-self: center;
}

.reviews-line-break-last {
	color: white;
	border-bottom: 1px solid white;
	justify-self: center;
}
