.product-name {
	font-weight: 700;
	font-size: 20px;
}

.product-deets-header {
}

.product-deets {
	text-align: left;
	/* display: none; */
}

/* .minus-button,
.plus-button {
	width: 25%;
	margin: 10px;
	height: 35px;
	border-radius: 4px;
	border: 1px solid rgba(128, 128, 128, 0.7);
	background-color: #e5e7eb;
	box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.2);
	font-size: 25px;
}

.count-button {
	font-size: 18px;
	width: 18%;
	line-height: 35px;
	border-radius: 4px;
	border: 1px solid rgba(128, 128, 128, 0.7);
	background-color: white;
	box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.2);
} */
