.new {
	cursor: pointer;
	border: none;
	box-shadow: none;
	text-underline-offset: 0.3rem;
	background-color: transparent;
	font-size: 3.47vw;
	width: 25.33vw;
	height: auto;
	margin-top: 10px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.logo {
	width: 30%;
}

.navbar-left {
	display: flex;
}

.navbar-right {
	display: flex;
}
