.likes-header {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

.product-options-image {
	height: 50px;
	width: 50px;
	object-fit: cover;
	border: 10px solid red;
}

#options-image {
	height: 150px;
	width: 100px;
	object-fit: cover;
}

.product-options-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.product-option {
	width: 26%;
	padding: 5px 10px;
}
.product-option:hover {
	box-shadow: 0px 0px 5px 1px rgba(128, 128, 128, 0.3);
	border-radius: 5px;
}

.option-title {
	font-size: 13px;
	margin-bottom: 25px;
	text-align: left;
}

.options-price {
	margin-top: 5px;
}

.options {
	background-color: #e5e7eb;
	padding-top: 10px;
	padding-bottom: 30px;
}

.find-more-options {
	margin-top: 20px;
}
