.footer-container {
	display: flex;
	padding: 20px 10px;
	margin-top: 30px;
	border-top: 1px solid gray;
	background-color: #e5e7eb;
	justify-content: space-around;
}

.footer-left {
	display: flex;
	flex-direction: column;
}

.footer-mid {
	display: flex;
	flex-direction: column;
}

.footer-right {
	display: flex;
	flex-direction: column;
}

.footer-small {
	font-size: 12px;
}
